html {
    height: 100%;
    text-rendering: geometricPrecision;        
}

body {
    height: 100%;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #353a45;
    color: #ffffff;
}

.full-page {
    display: block;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .routes {
        flex: 1;
        position: relative;
    }

    .scale-picker {
        position: absolute;
        left: 0;
        top: 0;
    }

    .key-picker-container {
        position: absolute;
        top: 0;
        left: 20%;
        right: 20%;
        margin: auto;
        text-align: center;
    }

    .tuning-picker-container {
        position: absolute;
        right: 0;
        top: 0;
    }
}
