html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #555463;
    color: #ffffff;
}

.full-page {
    display: block;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .instrument-select {
        z-index: 10;
    }
    .routes {
        flex: 1;
        position: relative;
    }
}
