.guitar {
    width: 100%;

    .fret-count-row {
        white-space: nowrap;
        text-align: center;
        .fret-indicator {
            display: inline-block;
            border-bottom: 1px solid #444;
            }
    }
    .fret-board {
        padding: 10px 0;
        background: beige;
        color: #444;

        .guitar-string {
            white-space: nowrap;
            .fret {
                display: inline-block;
                text-align: center;
                //border-bottom: 1px dashed #444;
                border-right: 1px solid #444;                
                padding: 5px 0;

                &.in-scale {
                    background: lightgreen;
                }

                &.root {
                    font-weight: bold;
                    color: red;
                }
            }
        }
    }
}
