.guitar-page {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;

    .center-box {
        position: relative;
        flex: 1;
        display: flex;
        align-items: center;
    }

    .bottom-panel {
        background: #f1f1f1;
        color: #33352c;
        padding: 20px;
    }
}

