.scale-viewer {
    text-align: center;
    margin: 80px 0 0 0;
    
    .intervals {

        .note {
            display: inline-block;
            padding: 0 5px;
            font-size: 40px;
            width: 60px;
            color: #fff;

            .interval {
                font-size: 16px;
            }

            .shadow {
                box-shadow: 0 5px 20px 5px;
                width: 20%;
                margin: 5px auto;
            }

        }

        .root {
            color: #cc24ff;
        }

        .third {
            color: aqua;

        }

        .fifth {
            color: orange;
        }
        
        .sharp {
            .shadow {
                width: 40%;
            }
        }

        .gap {
            color: #1D222E;
            .shadow {
                display: none;
            }
        }
    }
}