.scale-viewer {
    text-align: center;
    margin: 140px 0 0 0;
    
    .intervals {
        user-select: none;

        .note {
            display: inline-block;
            padding: 0 5px;
            font-size: calc(1.5vw + 20px);
            width: calc(3vw + 20px);
            color: #fff;
            cursor: pointer;
            transition: color 300ms;

            .chordMajMin {
                font-size: calc(0.75vw + 10px);
                font-family: 'Times New Roman', Times, serif;
            }
        }        

        .gap {
            color: #1D222E;
            .shadow {
                display: none;
            }
        }

        .major {
            .chordMajMin {
                text-transform: uppercase;
                font-weight: bold;
            }
        }

        .diminished {
            .chordMajMin::after {
                content: '◦';
            }
        }
    }
}