.guitar {
    position: relative;
    width: 100%;
    .shadow {
        position: absolute;
        height: 50px;
        width: 100%;
        top: 0;
        bottom: 0;
        margin: auto;
        box-shadow: 0 20px 150px 50px black;
        z-index: -2;
    }
    .fret-count-row {
        white-space: nowrap;
        text-align: center;
        padding-bottom: 10px;
        .fret-indicator {
            display: inline-block;
        }
    }
    .fret-board {
        position: relative;
        color: #d8d8d8;
        font-weight: 600;

        .fretboard-svg {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            .guitar-svg {
                position: relative;
                width: 100%;
                height: 100%;
                z-index: -1;
                fill: lightgoldenrodyellow;
            }
        }
        .fret-section {
            display: inline-block;
            vertical-align: middle;
            border-right: 3px solid #c2c2c2;
            padding: 3px 0;
            border-radius: 5px;

            .fret {
                display: inline-block;
                text-align: center;
                background: #8a6d3b;
                &.in-scale {
                    background: #3d6d6a;
                    color: #333;
                }
                &.root {
                    font-weight: bold;
                    color: #cc24ff;
                }
                &.third {
                    color: aqua;
                }
                &.fifth {
                    color: aqua;                    
                }
                // &.first {
                //     //box-shadow: 10px 0px 10px 0px black;
                // }
                // &.last {
                //     //box-shadow: 10px 0px 10px 0px black;
                // }
            }
        }
        .guitar-string {
            white-space: nowrap;
        }
    }
}