.bottom-panel {
    background: #f1f1f1;
    color: #33352c;
    padding: 20px;

    white-space: nowrap;
    > div {
        white-space: normal;
        display: inline-block;
    }

    .left-panel {
        width: 60%;
    }

    .right-panel {
        text-align: right;
        width: 40%;
    }
}