.instruments {
    text-align: center;
    padding: 10px 0;

    .instrument-container {
        display: inline-block;
        width: 50px;
        overflow: hidden;
        padding: 5px;
        cursor: pointer;
        border-bottom: 2px solid transparent;

        &.active {
            border-bottom: 2px solid #a1a1a1
        }

        img {
            width: 100%;

            fill: #a1a1a1;
        }
    }
}